<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218100194383-rhh41vdm6vodittofpptfashr5opsh0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218100194383-rhh41vdm6vodittofpptfashr5opsh0k</string>
	<key>API_KEY</key>
	<string>AIzaSyDAteKL4xSRxiaXKwDhmxGAAf3re1X71jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>218100194383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evoa</string>
	<key>PROJECT_ID</key>
	<string>study-flutter-30f92</string>
	<key>STORAGE_BUCKET</key>
	<string>study-flutter-30f92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218100194383:ios:0f2a1d58de430e2e6e1e3a</string>
	<key>DATABASE_URL</key>
	<string>https://study-flutter-30f92.firebaseio.com</string>
</dict>
</plist>